@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');
// font-family: 'Nunito Sans', sans-serif;
// font-family: 'Roboto', sans-serif;

html{
    font-size: 10px;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    &:after{
        margin: 0;
        padding: 0;
        border: 0;
    }
    &:before{
        margin: 0;
        padding: 0;
        border: 0; 
    }
}

a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}
li{
    list-style-type: none;
}

$bg-colorHead:#284854;
$colorWhite:#fff;
$colorGren:#8BC441;
$colorAqua:#60C1BD;
$colorSubTitle:#798B56;

$fontRoboto:'Roboto', sans-serif;

.section{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.header{
    position: fixed;
    max-width: 1240px;
    width: 100%;
    left: 50%;
    top: 2.3rem;
    padding: 0 1rem;
    transform: translate(-50%,0);
    z-index: 10;
}

.nav{
    border-radius: 3rem;
    background-color: $colorAqua;
    display: flex;
    padding: 0 3rem;
    height: 8.1rem;
    justify-content: space-between;
    align-items: center;
    &__logo{
        display: block;
        color: $colorWhite;
        font-family: $fontRoboto;
        font-size: 3rem;
        line-height: 1.2;
        transition: color 0.3s;
        &:hover{
        color: $bg-colorHead; 
        }
    }
    &__link{
        padding-left: 5rem;
        color: $bg-colorHead;
        font-family: $fontRoboto;
        transition: font-size 0.3s;
        &:first-child{
            padding-left: 0;
        }
        &:hover{
            color: $bg-colorHead;
            font-size: 2rem; 
        }
    }
    &__in{
        font-size: 1.4rem;
        line-height: 1.4;
        display: block;
        padding: 0.4rem 2rem;
        border: 0.1rem solid $colorWhite;
        color: $colorWhite;
        display: inline-block;
        transition: all 0.3s;
        &:hover{
            color: $bg-colorHead; 
            border: none;
            font-weight: 700;
        }
    }

}

.head{
    background-color: $bg-colorHead;
    background-size: cover;
    &__intro{
        padding: 23rem 6rem 17rem 6rem;
    }
    &__title{
        font-family: $fontRoboto;
        font-size: 8.5rem;
        color: $colorGren;
        line-height: 1.2;
        margin-bottom: 4.5rem;
    }
    &__subtitle{
        color: $colorWhite;
        font-size: 2rem;
        max-width: 542px;
    }
}

.img{
    display: block;
    width: 100%;
    height: auto;
}

.start{
    transform: translate(0,-40%);
    display: flex;
    &__wrapper{
        background-color: $colorWhite; 
    }
    &__item{
        padding: 4.5rem 11rem 4.5rem 3rem;
        background-color: #F4F6F0;
        display: flex;
        justify-content: space-between;
        margin-left: 8rem;
        align-items: center;
        height: 100%;
        &:first-child{
            margin-left: 0;
        }
    }
    &__images{
       width: 100px;
    }
    &__text{
        padding-left: 4.6rem;
    }
    &__title{
        font-size: 3.7rem;
        line-height: 4.4rem;
        color: $colorGren;
        font-family: $fontRoboto;
    }
    &__subtitle{
        font-size: 2rem;
        line-height: 2.7rem;
        color: $colorAqua;
        max-width: 220px;
    }
}

.works{
    text-align: center;
    &__title{
       margin-bottom: 11rem;
    }
}

.block{
   &__subtitle{
    color: $colorAqua;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 3rem; 
   }
   &__title{
    font-size: 5.5rem;
    line-height: 6.4rem;
    color: $bg-colorHead;  
   }
}

.content{
    &__item{
        margin-bottom: 8rem;
    }
    &__subtitle{
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.7rem;
        color:$colorSubTitle;
    }
    &__title{
        font-size: 4rem;
        font-weight: 700;
        line-height: 4.7rem;
        color: $colorGren;
        font-family: $fontRoboto;
        margin: 1rem 0;
    }
    &__description{
        line-height: 2.9rem;
        color: $bg-colorHead;
    }
}

.mission{
    &__images{
        max-width: 450px;
    }
    &__wrapper{
        background-color:#F4F6F0;
        padding: 7.8rem 3rem 12rem 3rem;
    }
    &__text{
        max-width: 512px;
    }
    &__description{
        font-size: 1.8rem;
        line-height: 3.2rem;
        margin-bottom: 5rem;
    }
}

.color--blue{
    color: $colorAqua;
    border-color:$colorAqua;
}

.sounds{

    &__wrapper{
        background-color: $colorGren;
        padding: 8rem 0;
    }
    &--white{
        color: $colorWhite;
        max-width:516px;
        margin-bottom: 5.5rem;
    }
    &__subtext{
        display: flex;
    }
    &__description{
        color: $colorWhite;
        font-size: 2rem;
        line-height: 2.7rem;
        max-width: 240px;
        &:first-child{
            margin-right: 10rem;
        }
    }
}

.footer{
    background-color: $colorWhite;
    padding: 5rem 0;
    &__info{
        display: flex;
        justify-content: space-between;
    }
    &__veterinarians{
        margin-right: 2rem;
    }
    &__title{
        color: $bg-colorHead;
        letter-spacing: 0.2rem;
        line-height: 1.7rem;
        font-size: 1.3rem;
        margin-bottom: 2.5rem;
        text-transform: uppercase;
    }
    &__link{
        font-size: 1.4rem;
        line-height: 1.9rem;
        color: $colorAqua;
        margin-bottom: 1.8rem;
        margin-right: 1rem;
        &:hover{
            text-decoration: none;
        }
    }
    &__contacts{
        margin-top: 5rem;
        margin-bottom: 3.3rem;
    }
    &__list{
        display: flex;
        justify-content: space-between;
    }
    &__findUs{
        margin-left: 2rem;
    }
    &__adr{
        margin-bottom: 3rem;
    }
    &__adress{
        font-family: $fontRoboto;
        font-size: 1.6rem;
        line-height: 1.8rem;
        color: $colorAqua;
        font-style: normal;
        margin-bottom: 0.4rem;
    }
    &__copyright{
        font-size: 1.3rem;
        line-height: 1.7rem;
        color: $bg-colorHead;
    }
}
.login{
    display: none;
    width: 100%;
    height: 100%;
    &__background{
        background-color: #000;
        opacity: 0.7;
        position:fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index:101;
    }
    &__form{
        background-color: #8BC441;
        padding: 2rem;
        position: fixed;
        left: 50%;
        top: 50%;
        border-radius: 0.5rem;
        transform: translate(-50%,-50%);
        z-index: 102;
        text-align: center;
    }
    &__icon{
        margin-right: 0.5rem;
        width: 2rem;
        height: auto;
    }
    &__field{
        border-radius: 0.5rem;
        padding-left: 0.5rem;
    }
    &__email{
        display: flex;
    }
    &__pass{
        display:flex;
        margin-top: 1rem;
    }
    &__submit{
        margin-top: 1rem;
        border-radius: 0.5rem;
        padding: 0 1rem;
    }
    &__close{
        padding: 0 0.5rem;
    }
    &__exit{
        display: block;
        position:absolute;
        top:0;
        right: 0;
        cursor: pointer;
        color: #000;
    }
    &--active{
        display: block;
    }
}


@media(max-width:1200px){
    html{
        font-size: 8px;
    }
    .card__item{
        padding: 2.2rem 5.5rem 2.2rem 1.5rem;
        margin-left: 4rem;
    }
}
@media(max-width:880px){
    .start__item{
        padding: 1.3rem 2.3rem 1.3rem 0.8rem;
        margin-left: 2rem;
    }
}
@media(max-width:750px){
    html{
        font-size: 6px;
    }
    .start__images {
        max-width: 80px;
    }
}
@media(max-width:600px){
    .start__images {
        max-width: 50px;
    }
}
@media(max-width:550px){
    html{
        font-size: 5px;
    }
}
@media(max-width:450px){
    .start__images {
        max-width: 30px;
    }
}
@media(max-width:400px){
    html{
        font-size: 4px;
    }
}
